
h1 {
    font-size: 20px;
    font-family: sans-serif;
}
h2 {
    font-size: 15px;
    font-family:  sans-serif;
}
h3 {
    font-size: 12px;
    font-family: sans-serif;
}
h4 {
    font-size: 12px;
    font-family: sans-serif;
}
header, nav, section, footer, article, aside, menu {

display: block;
}
body{
    text-align: center;
}
.agrupar {
    width: 1340px;
}

.menu { /*menu */
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .menu a { /*menu*/
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menu a:hover { /*menu*/
    background-color: #ddd;
    color: black;}

.cabezera {
    width: 1340px;
   
}
.cabezera h1 {
    text-align:center;
}
.imagen {
    width: 400px ;
    float: left;
}
.info {
    width: 940px ;
    float: left;
    text-align:left;
}
.articulo {
    clear:both;
    font-size: 12px;
    font-family: sans-serif;
    text-align:left;
    padding: 20px;
}
.info {
    width: 940px ;
    float: left;
    text-align:left;}

.footer {
    
    clear:both;
    font-size: 12px;
    background-color: #FFFFFF;
    font-family: sans-serif;
    padding: 5px;
}


  
 